name: Unit-Tests
on:
  push:
    paths:
      - 'go.mod'
      - '**.go'

jobs:

  test:
    name: Test on go ${{ matrix.go_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go_version: [1.12, 1.13, 1.14, 1.15]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - name: Check out code
      uses: actions/checkout@v2
    # https://github.com/actions/setup-go
    - name: Use Go ${{ matrix.go_version }}
      timeout-minutes: 3
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go_version }}

    - name: Run unit tests
      run: go test -v -cover ./...
