name: Unit-Tests
on:
  pull_request:
    paths:
      - 'go.mod'
      - '**.go'
      - '**.yml'
  push:
    paths:
      - 'go.mod'
      - '**.go'
      - '**.yml'

jobs:

  test:
    name: Test on go ${{ matrix.go_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go_version: [1.19, 1.21, '1.20']
        os: [ubuntu-latest, macOS-latest]

    steps:
    - name: Check out code
      uses: actions/checkout@v4
    # https://github.com/actions/setup-go
    - name: Use Go ${{ matrix.go_version }}
      timeout-minutes: 3
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go_version }}

    - name: Run unit tests
      #      run: go test -v -cover ./...
      #      must add " for profile.cov on Windows OS
      run: go test -coverprofile="profile.cov" ./...

    - name: Send coverage
      uses: shogo82148/actions-goveralls@v1.8.0
      if: ${{ matrix.os == 'ubuntu-latest' }}
      with:
        path-to-profile: profile.cov
        flag-name: Go-${{ matrix.go_version }}
        parallel: true

  # notifies that all test jobs are finished.
  # https://github.com/shogo82148/actions-goveralls
  finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: shogo82148/actions-goveralls@v1.8.0
        with:
          parallel-finished: true
